* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #391E5D;
    padding-top: 7px;

}





#titulo h1 {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;

}

#titulo h2 {
    color: #ffffff;
    font-family: 'Lora', serif;

}


#texto {
    width: 300px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    border-radius: 12px;
    padding: 20px;
    color: yellow;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    position: relative;



}






#titulo2 h1 {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}

#titulo2 h2 {
    color: #ffffff;
    font-family: 'Lora', serif;
}

#texto2 {
    background-color: #391E5D;
    width: 300px;
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    border-radius: 12px;
    padding: 20px;
    color: yellow;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    position: relative;



}






#titulo3 h1 {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}

#titulo3 h2 {
    color: #ffffff;
    font-family: 'Lora', serif;
}

#texto3 {
    background-color: #391E5D;
    width: 300px;
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    border-radius: 12px;
    padding: 20px;
    color: yellow;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    position: relative;


}

.box {
    display: flex;
    justify-content: space-around;
    margin: 50px;
    text-align: center;

}

#basicoButton {
    margin-top: 20px;
    width: 300px;
    height: 40px;
    background-color: #391E5D;
    color: yellow;
    border-radius: 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

#intermediarioButton {
    margin-top: 20px;
    width: 300px;
    height: 40px;
    background-color: #391E5D;
    color: yellow;
    border-radius: 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

#premiumButton {
    margin-top: 20px;
    width: 300px;
    height: 40px;
    background-color: #391E5D;
    color: yellow;
    border-radius: 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}