* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    color: aliceblue;
    align-items: center;
    background-image: url(https://pbs.twimg.com/media/E8DeGqdX0AEFNsr.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    border-radius: 5px 100px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #89c2d9;
}

#square {
    display: flex;
    min-height: 300px;
    min-width: 300px;
    margin-bottom: 100px;
    justify-content: center;
    transform-style: preserve-3d;
    transition: all .3s ease-in;
    box-shadow: 3px 3px 5px #012a2a ; /*Sombra*/

}

.front, 
.right,
.left{
    width: 100%;
    height: 370px;
    padding: 20px;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    justify-content: center;
    background-color: blue; /*Cor da Caixa*/
    box-shadow: 3px 3px 5px yellow ; /*Sombra*/
}


.front{
    transform: translateZ(50px);
}

.right{
    transform: rotateY(90deg) translateZ(50px);
}

.left{
    transform: rotateY(-90deg) translateZ(50px);
}

.actions button {
 border: 0;
 outline: none;
 font-size: 20px;
 min-height: 30px;
 border-radius: 4px;
 padding: 10px 20px;
 color: green;
}

.container h1{
    font-size: 35px;
    margin-bottom: 40px;
}

.container form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container form input,
.container form button {

margin-bottom: 15px;
}

.container form input {
    border: 0;
    font-size: 20px;
    min-height: 30px;
    padding: 10px 8px;
    border-radius: 4px;
    box-sizing: border-box;
}

.container form button {
    border: 0;
    padding: 10px;
    outline: none;
    min-height: 30px;
    font-size: 20px;
    border-radius: 4px;
    background-color: aqua;
}

#frontSide {
    display: none;
}

.container .actions {
   display: flex;
}

 .container .actions button {
    margin-right: 10px;
    justify-content: center;
 }

 @media(min-width: 600px){
    .container{
        width: 500px;
        height: 500px;
        padding: 50px 100px;
        background-image: linear-gradient(to top, #012a4a, #01497c, #89c2d9 )

    }
 };
