* {
    color: white;
    font-family: 'Roboto', sans-serif;

}


body {
    background-color: #391e5d;
}




/*Titulo principal cadastro*/

.formulario h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* campos de nome e email*/


.primeira {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primeira input {
    width: 500px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-color: yellow;
    background-color: transparent;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.segunda {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.segunda input {
    width: 500px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-color: yellow;
    background-color: transparent;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/*campos de senha, confrm sena e rg*/

.senhas {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.senhaUm {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.senhaUm input {
    width: 200px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-color: yellow;
    background-color: transparent;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


.senhaDois {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.senhaDois input {
    width: 200px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-color: yellow;
    background-color: transparent;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.dadosPessoais {
    display: flex;
    justify-content: center;
    gap: 50px;
}


.cpf {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cpf input {
    width: 200px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-color: yellow;
    background-color: transparent;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


.rg {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rg input {
    width: 200px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-color: yellow;
    background-color: transparent;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


.nascimento {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nascimento input {
    width: 200px;
    padding-left: 35px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-color: yellow;
    background-color: transparent;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.effect:required:invalid::-webkit-datetime-edit {
    color: transparent;
}

.effect:focus::-webkit-datetime-edit {
    color: rgb(255, 255, 255) !important;
}


.local {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.sexta {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sexta input {
    width: 200px;
    padding-left: 35px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-color: yellow;
    background-color: transparent;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.rua {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rua input {
    width: 200px;
    padding-left: 35px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-color: yellow;
    background-color: transparent;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}



.city {
    display: flex;
    justify-content: center;
    gap: 50px;
}


.oitava {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.oitava input {
    width: 200px;
    padding-left: 35px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-color: yellow;
    background-color: transparent;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.decima {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.decima input {
    width: 200px;
    padding-left: 35px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-color: yellow;
    background-color: transparent;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.decimaUm {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.decimaUm input {
    width: 200px;
    padding-left: 35px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-color: yellow;
    background-color: transparent;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


.complemento {
    display: flex;
    justify-content: center;
    gap: 50px;
}


.decimaDois {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.decimaDois input {
    width: 200px;
    padding-left: 35px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-color: yellow;
    background-color: transparent;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}



.setima {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.setima input {
    width: 200px;
    padding-left: 35px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-color: yellow;
    background-color: transparent;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}







.olho {
    cursor: pointer;
    left: 160px;
    width: 30px;
}

.olhoDois {
    cursor: pointer;
    left: 160px;
    width: 30px;
}

#finalCadastro {
    display: flex;
    justify-content: center;

}


/*botao finalizar cadastro*/


#finalCadastro button {
    display: flex;
    justify-content: center;
    background-color: #F4C949;
    margin-top: 20px;
    width: 300px;
    height: 50px;
    color: #391E5D;
    border-radius: 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}

#houseGif {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

#houseGif img {
    width: 80px;
}




@media (max-width: 700px) {

    * {
        font-size: 30px;
        margin: 0;
        padding: 0;
    }

    .formulario {
        width: max-content;
        text-align: center;
    }

    /*Titulo principal cadastro*/

    .formulario h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: max-content;
    }


    label {
        font-size: 30px;
        padding-right: 10px;
        font-size: 23px;
    }

    input {
        font-size: 23px;
    }


    /* campos de nome e email*/


    .primeira {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .primeira input {
        width: max-content;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-color: yellow;
        background-color: transparent;
        color: #ffffff;
        justify-content: center;
    }



    .segunda {
        width: 700px;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .segunda input {
        width: max-content;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-color: yellow;
        background-color: transparent;
        color: #ffffff;
    }

    /*campos de senha, confrm sena e rg*/

    .senhas {
        display: block;
        justify-content: center;
        font-size: 13px;
    }

    .senhaUm {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .senhaUm input {
        width: max-content;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-color: yellow;
        background-color: transparent;
        color: #ffffff;
    }


    .senhaDois {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .senhaDois input {
        width: max-content;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-color: yellow;
        background-color: transparent;
        color: #ffffff;
    }

    .dadosPessoais {
        display: block;
        justify-content: center;
        gap: 50px;
    }


    .cpf {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .cpf input {
        width: max-content;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-color: yellow;
        background-color: transparent;
        color: #ffffff;
    }


    .rg {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .rg input {
        width: 250px;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-color: yellow;
        background-color: transparent;
        color: #ffffff;
    }


    .nascimento {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nascimento input {
        width: 200px;
        padding-left: 35px;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-color: yellow;
        background-color: transparent;
        color: #ffffff;
    }


    .effect:required:invalid::-webkit-datetime-edit {
        color: transparent;
    }

    .effect:focus::-webkit-datetime-edit {
        color: rgb(255, 255, 255) !important;
    }



    .local {
        display: block;
        justify-content: center;
        gap: 50px;
    }

    .sexta {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sexta input {
        width: 250px;
        padding-left: 35px;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-color: yellow;
        background-color: transparent;
        color: #ffffff;
    }

    .rua {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .rua input {
        width: 250px;
        padding-left: 35px;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-color: yellow;
        background-color: transparent;
        color: #ffffff;
    }



    .city {
        display: block;
        justify-content: center;
        gap: 50px;
    }


    .oitava {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .oitava input {
        width: 250px;
        padding-left: 35px;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-color: yellow;
        background-color: transparent;
        color: #ffffff;
    }

    .decima {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .decima input {
        width: 250px;
        padding-left: 35px;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-color: yellow;
        background-color: transparent;
        color: #ffffff;
    }

    .decimaUm {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .decimaUm input {
        width: 250px;
        padding-left: 35px;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-color: yellow;
        background-color: transparent;
        color: #ffffff;
    }


    .complemento {
        display: block;
        justify-content: center;
        gap: 50px;
    }


    .decimaDois {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .decimaDois input {
        width: 250px;
        padding-left: 35px;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-color: yellow;
        background-color: transparent;
        color: #ffffff;
    }



    .setima {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .setima input {
        width: 250px;
        padding-left: 35px;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-color: yellow;
        background-color: transparent;
        color: #ffffff;
    }







    .olho {
        cursor: pointer;
        left: 160px;
        width: 30px;
    }

    .olhoDois {
        cursor: pointer;
        left: 160px;
        width: 30px;
    }

    #finalCadastro {
        display: flex;
        justify-content: center;
        width: 700px;

    }


    /*botao finalizar cadastro*/


    #finalCadastro button {
        display: flex;
        justify-content: center;
        background-color: #F4C949;
        margin-top: 20px;
        width: 200px;
        height: 80px;
        color: #391E5D;
        border-radius: 10px;
        font-family: 'Raleway', sans-serif;
        font-size: 30px;
        text-align: center;

    }


    #houseGif {
        width: 700px;
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }
    
    #houseGif img {
        width: 80px;
    }


}




@media (max-width: 360px) {

    * {
        margin: 0;
        padding: 0;
        text-align: center;
        
    }

    .formulario {
        width: 360px;
        text-align: center;
    }

    /*Titulo principal cadastro*/

    .formulario h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 20px;

    }



    /* campos de nome e email*/



    #nomeEmail {
        display: inline-block;
        text-align: center;
        width: 360px;
        margin: 0;
        padding: 0;
    }
    .primeira {
        width: 360px;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    .primeira input {
        width: 150px;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-color: yellow;
        background-color: transparent;
        color: #ffffff;
        justify-content: center;
    }

    label {
        font-size: 30px;
        padding-right: 10px;
        font-size: 15px;
    }

    input {
        font-size: 15px;
    }



    .segunda {
        width: 360px;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .segunda input {
        width: 150px;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-color: yellow;
        background-color: transparent;
        color: #ffffff;
    }

    /*campos de senha, confrm sena e rg*/

    .senhas {
        display: block;
        justify-content: center;
        font-size: 13px;
    }

    .senhaUm {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .senhaUm input {
        width: 100px;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-color: yellow;
        background-color: transparent;
        color: #ffffff;
    }


    .senhaDois {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .senhaDois input {
        width: 100px;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-color: yellow;
        background-color: transparent;
        color: #ffffff;
    }

    .dadosPessoais {
        display: block;
        justify-content: center;
        gap: 50px;
    }


    .cpf {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cpf input {
        width: 120px;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-color: yellow;
        background-color: transparent;
        color: #ffffff;
    }


    .rg {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .rg input {
        width: 120px;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-color: yellow;
        background-color: transparent;
        color: #ffffff;
    }


    .nascimento {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nascimento input {
        width: 120px;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-color: yellow;
        background-color: transparent;
        color: #ffffff;
        font-size: 15px;
        justify-content: space-around;
    }




    .effect:required:invalid::-webkit-datetime-edit {
        color: transparent;
    }

    .effect:focus::-webkit-datetime-edit {
        color: rgb(255, 255, 255) !important;
    }



    .local {
        display: block;
        justify-content: center;
        gap: 50px;
    }

    .sexta {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sexta input {
        width: 120px;
        padding-left: 35px;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-color: yellow;
        background-color: transparent;
        color: #ffffff;
    }

    .rua {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .rua input {
        width: 100px;
        padding-left: 35px;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-color: yellow;
        background-color: transparent;
        color: #ffffff;
    }

   



    .city {
        display: block;
        justify-content: center;
        gap: 50px;
    }


    .oitava {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .oitava input {
        width: 120px;
        padding-left: 35px;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-color: yellow;
        background-color: transparent;
        color: #ffffff;
    }

    .decima {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .decima input {
        width: 100px;
        padding-left: 35px;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-color: yellow;
        background-color: transparent;
        color: #ffffff;
    }

    .decimaUm {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .decimaUm input {
        width: 100px;
        padding-left: 35px;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-color: yellow;
        background-color: transparent;
        color: #ffffff;
    }


    .complemento {
        display: block;
        justify-content: center;
        gap: 50px;
    }


    .decimaDois {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .decimaDois input {
        width: 50px;
        padding-left: 35px;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-color: yellow;
        background-color: transparent;
        color: #ffffff;
    }



    .setima {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .setima input {
        width: 170px;
        padding-left: 35px;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-color: yellow;
        background-color: transparent;
        color: #ffffff;
    }







    .olho {
        cursor: pointer;
        left: 160px;
        width: 30px;
    }

    .olhoDois {
        cursor: pointer;
        left: 160px;
        width: 30px;
    }

    #finalCadastro {
        display: flex;
        justify-content: center;
        width: 360px;
    }


    /*botao finalizar cadastro*/

    #finalCadastro a {
        font-size: 200px;
    }



    #finalCadastro button {
        display: flex;
        justify-content: center;
        background-color: #F4C949;
        width: 200px;
        padding-top: 25px;
        color: #391E5D;
        border-radius: 50px;
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        text-align: center;

    }



    #houseGif {
        width: 360px;
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }
    
    #houseGif img {
        width: 80px;
    }
}