@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

    /* resetando as configuraÃ§Ãµes da pÃ¡gina */
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }


    /* configuraÃ§Ãµes padrÃ£o para os elementos */
    :root {
    --nav-bg-color: #f3f3f3;
    --footer-bg-color: #343236;
    --body-bg-color: #391e5d;
    --dark-font-color: #0a0016;
    --light-font-color: #dfdfdf;
    --alt-light-color: #cdd5eb;
    --button-color: #71cedab2;
    font-family: 'Roboto', sans-serif;
    }

    body {
    background-color: #391e5d;
    }

    a {
    text-decoration: none;
    color: inherit;
    }

    a:hover{
    color:var(--button-color);
    }

    #navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: var(--nav-bg-color);
    color: green;
    height: 4em;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    font-family: 'roboto';
    }

    nav img {
    width: 5em;
    margin-left: 5px;
    }

    .navbar-toggler {
    color: var(--body-bg-color);
    }

    #navbar-items {
    background-color: #f3f3f3c7;
    color: var(--dark-font-color);
    font-weight: bold;
    }

    nav ul {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 3rem;
    align-items: center;
    font-size: 1.2rem;
    }



    #button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--button-color);
    padding: 6px;
    font-size: 1.2rem;
    border-radius: 15px;
    border: 1px solid var(--alt-light-color);
    }

    #button:hover{
    color:var(--nav-bg-color);
    }



    .footer {
    display: flex;
    position: absolute;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 3em;
    padding: 0 2rem;
    background-color: var(--footer-bg-color);
    height: 20vh;
    color: var(--light-font-color);
    font-size: 1.5em;
    text-decoration: none;
    }


    .footer ul {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    padding-top: 1em;
    columns: 2;
    gap: 5em;
    align-items: center;
    font-size: 1rem;
    }

    #termos {
    display: inline-block;
    columns: 1;
    text-decoration: none;
    }

    .input {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    gap: 1em;
    align-items: center;
    background-color: #57535b;
    padding: 0.9em;
    font-size: 1.5em;
    color: var(--light-font-color);
    }

    #email {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--alt-light-color);
    padding: 6px;
    font-size: 1.2rem;
    border-radius: 15px;
    border: 1px solid var(--alt-light-color);
    }

    #icones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    text-decoration: none;
    }


    /*Titulo principal cadastro*/

    .formulario h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    }



    /* campos de nome e email*/


    .primeira {
    display: flex;
    justify-content: space-around;
    align-items: center;
    }

    .primeira input {
    margin-top: 50px;
    width: 500px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-color: yellow;
    background-color: transparent;
    color: #ffffff;
    }

    /*campos de senha, confrm sena e rg*/

    .segunda {
    display: flex;
    justify-content: space-around;
    align-items: center;
    }

    .segunda input {
    margin-top: 50px;
    width: 250px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-color: yellow;
    background-color: transparent;
    color: #ffffff;
    }


    /*campo de cep*/


    .terceiraToda {
    display: flex;
    justify-content: space-around;
    align-items: center;
    }

    .terceira {
    display: inline-block;
    }
    .quarta {
    display: inline-block;
    }

    .terceira input {
    margin-top: 50px;
    width: 250px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-color: yellow;
    background-color: transparent;
    color: #ffffff;
    }

        /*campo de rua*/


    .quarta input {
    margin-top: 50px;
    width: 500px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-color: yellow;
    background-color: transparent;
    color: #ffffff;
    }
            /*campos de bairro, cidade e estado*/


    .quinta {
    display: flex;
    justify-content: space-around;
    align-items: center;
    }

    .quinta input {
    margin-top: 50px;
    width: 250px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-color: yellow;
    background-color: transparent;
    color: #ffffff;
    }
        /*campo de numero*/


    .sextaToda {
    display: flex;
    justify-content: space-around;
    align-items: center;
    }

    .sexta {
    display: inline-block;
    }
        /*campo de complemento*/


    .setima {
    display: inline-block;
    }

    .sexta input {
    margin-top: 50px;
    width: 100px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-color: yellow;
    background-color: transparent;
    color: #ffffff;
    }


    .setima input {
    margin-top: 50px;
    width: 500px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-color: yellow;
    background-color: transparent;
    color: #ffffff;
    }


    .formulario {
    background-color: #391e5d;
    color: white;
    }

    .formulario h1 {
    color: #F4C949;
    font-family: 'Raleway', sans-serif;
    }




    .olho {
    cursor: pointer;
    left: 160px;
    width: 30px;
    }

    .olhoDois {
    cursor: pointer;
    left: 160px;
    width: 30px;
    }

    #finalCadastro {
    display: flex;
    justify-content: center;
    
    }
  
        /*botao finalizar cadastro*/



    #finalCadastro button {
    display: flex;
    justify-content: center;
    background-color: #F4C949;
    margin-top: 20px;
    width: 300px;
    height: 40px;
    color: #391E5D;
    border-radius: 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;

   
}




  /*<a href="https://www.flaticon.com/free-icons/healthcare-and-medical" title="healthcare and medical icons">Healthcare and medical icons created by van design - Flaticon</a>*/





    /*media query para 360px*/


@media (max-width: 360px) {


    #navbar {
    position: fixed;
    width: 360px;
    }


    .formulario {
    width: 360px;
    text-align: center;
    font-size: 10px;
    background-color: #391e5d;
    color: white;
    }

    .formulario h1 {
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #F4C949;
    font-family: 'Raleway', sans-serif;
    }


    .primeira {
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    }


    .primeira input {
    margin-top: 20px;
    width: 250px;
    display: inline-block;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-color: yellow;
    background-color: transparent;
    color: #ffffff;
    }



    .segunda {
    display: flex;
    justify-content: space-around;
    align-items: center;
    }

    .segunda input {
    margin-top: 50px;
    width: 50px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-color: yellow;
    background-color: transparent;
    color: #ffffff;
    }




    .terceiraToda {
    display: flex;
    justify-content: space-around;
    align-items: center;
    }

    .terceira {
    display: inline-block;
    }
    .quarta {
    display: inline-block;
    }

    .terceira input {
    margin-top: 50px;
    width: 50px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-color: yellow;
    background-color: transparent;
    color: #ffffff;
    }


    .quarta input {
    margin-top: 50px;
    width: 200px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-color: yellow;
    background-color: transparent;
    color: #ffffff;
    }

    .quinta {
    display: flex;
    justify-content: space-around;
    align-items: center;
    }

    .quinta input {
    margin-top: 50px;
    width: 50px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-color: yellow;
    background-color: transparent;
    color: #ffffff;
    }


    .sextaToda {
    display: flex;
    justify-content: space-around;
    align-items: center;
    }

    .sexta {
    display: inline-block;
    }
    .setima {
    display: inline-block;
    }

    .sexta input {
    margin-top: 50px;
    width: 40px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-color: yellow;
    background-color: transparent;
    color: #ffffff;
    }



    .setima input {
    margin-top: 50px;
    width: 100px;
    display: inline-block;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-color: yellow;
    background-color: transparent;
    color: #ffffff;
    }





    .olho {
    cursor: pointer;
    left: 160px;
    width: 15px;
    }

    .olhoDois {
    cursor: pointer;
    left: 160px;
    width: 15px;
    }

    #finalCadastro {
    display: flex;
    justify-content: center;
    width: 360px;
    
    }
  
    #finalCadastro button {
    display: flex;
    justify-content: center;
    background-color: #F4C949;
    width: 150px;
    height: 15px;
    color: #391E5D;
    border-radius: 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    align-items: center;

    }
    .site-footer {
    width: 360px;
    }


    .footer {
    display: flex;
    position: absolute;
    width: 360px;
    height: auto;
    align-items: center;
    }  

    .footer li {
    width: 75px;
    }

    .footer ul {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    align-items: flex-start;
    width: 70px;

    }

    .footer a {
    font-size: 6px;
    text-align: start;
    align-items: flex-start;


    }


    .input {
    display: flex;
    text-align
    font-size: 15px;
    }

    #info {
    display:block;
    padding: 5px;
    font-size: 15px;
    }

    #email, #button {
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    }

    #termos {
    display: flex;
    align-items: baseline;
    justify-content: center;
    text-decoration: none;
    }

    #icones {
    display: flex;
    justify-content: center;
    gap: 1em;
    width: 100px;
    }


    .site-footer #button {
    font-size: 10px;
    }

    .site-footer #email {
    font-size: 10px;
    }

    .site-footer #info {
    font-size: 15px;
    }


    nav img {
    width: 4em;
    }


}







    /*media query para 720px*/

@media (max-width: 720px) {

    
    #navbar {
        position: fixed;
    }
    
    #navForm {
        height: 110px;
        align-items: flex-start;
    }

        
    .formulario {
        width: 720px;
        text-align: center;
        font-size: 15px;
    }
        
    .formulario h1 {
        width: 720px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
        
        
    .primeira {
        display: inline-block;
        justify-content: space-around;
        align-items: center;
    }
        
        
    .primeira input {
        margin-top: 20px;
        width: 450px;
        display: inline-block;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-color: yellow;
        background-color: transparent;
        color: #ffffff;
    }
        
        
        
    .segunda {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
        
    .segunda input {
        margin-top: 50px;
        width: 100px;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-color: yellow;
        background-color: transparent;
        color: #ffffff;
    }
        
        
        
        
    .terceiraToda {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
        
    .terceira {
        display: inline-block;
    }
    
    .quarta {
        display: inline-block;
    }
        
    .terceira input {
        margin-top: 50px;
        width: 100px;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-color: yellow;
        background-color: transparent;
        color: #ffffff;
    }
        
        
    .quarta input {
        margin-top: 50px;
        width: 400px;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-color: yellow;
        background-color: transparent;
        color: #ffffff;
    }
        
    .quinta {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
        
    .quinta input {
        margin-top: 50px;
        width: 150px;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-color: yellow;
        background-color: transparent;
        color: #ffffff;
    }
        
        
    .sextaToda {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
        
    .sexta {
        display: inline-block;
    }
    .setima {
        display: inline-block;
    }
        
    .sexta input {
        margin-top: 50px;
        width: 80px;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-color: yellow;
        background-color: transparent;
        color: #ffffff;
    }
        
        
        
    .setima input {
        margin-top: 50px;
        width: 200px;
        display: inline-block;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-color: yellow;
        background-color: transparent;
        color: #ffffff;
    }
        
        
    .formulario {
        background-color: #391e5d;
        color: white;
    }
        
    .formulario h1 {
        color: #F4C949;
        font-family: 'Raleway', sans-serif;
    }
        
        
        
        
    .olho {
        cursor: pointer;
        left: 160px;
        width: 25px;
    }
        
    .olhoDois {
        cursor: pointer;
        left: 160px;
        width: 25px;
    }
        
    #finalCadastro {
        display: flex;
        justify-content: center;
            
    }
          
    #finalCadastro button {
        display: flex;
        justify-content: center;
        background-color: #F4C949;
        width: 250px;
        height: 30px;
        color: #391E5D;
        border-radius: 50px;
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        align-items: center;
        
    }
    
    .site-footer {
        width: 720px;
    }
        
    .footer {
        display: flex;
        position: absolute;
        width: 720px;
        height: auto;
            
    }
        
    
        
    .footer ul {
        display: inline-block;
        list-style: none;
        text-decoration: none;
        align-items: flex-start;
        
    }
        
    .footer a {
        font-size: 10px;
        text-align: start;
        align-items: flex-start;
        
        
    }
        
        
    .input {
        display: flex;
        text-align
        font-size: 15px;
    }
        
    #info {
        display:block;
        padding: 5px;
        font-size: 15px;
    }
        
    #email, #button {
        display: inline-block;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }
        
    #termos {
        display: flex;
        align-items: baseline;
        justify-content: center;
        text-decoration: none;
        font-size: 10px;
    }
        
    #icones {
        display: flex;
        position: relative;
        justify-content: center;
    }
        
        
    .site-footer #button {
        font-size: 10px;
    }
        
    .site-footer #email {
        font-size: 10px;
    }
        
    .site-footer #info {
        font-size: 15px;
    }
        
        
    nav img {
        width: 4em;
    }
        
        
}







    /*media query para 990px*/

@media (max-width: 990px) {

    
    #navbar {
        position: fixed;
        }
        
    #navForm {
        height: 110px;
        align-items: flex-start;
    }
    
            
    .formulario {
        width: 990px;
        text-align: center;
        font-size: 15px;
    }
            
    .formulario h1 {
        width: 990px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
            
            
    .primeira {
        display: inline-block;
        justify-content: space-around;
        align-items: center;
    }
            
            
    .primeira input {
        margin-top: 20px;
        width: 450px;
        display: inline-block;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-color: yellow;
        background-color: transparent;
        color: #ffffff;
    }
            
            
            
    .segunda {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
            
    .segunda input {
        margin-top: 50px;
        width: 100px;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-color: yellow;
        background-color: transparent;
        color: #ffffff;
    }
            
            
            
            
    .terceiraToda {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
            
    .terceira {
        display: inline-block;
    }
        
    .quarta {
        display: inline-block;
    }
            
    .terceira input {
        margin-top: 50px;
        width: 100px;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-color: yellow;
        background-color: transparent;
        color: #ffffff;
    }
            
            
    .quarta input {
        margin-top: 50px;
        width: 400px;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-color: yellow;
        background-color: transparent;
        color: #ffffff;
    }
            
    .quinta {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
            
    .quinta input {
        margin-top: 50px;
        width: 150px;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-color: yellow;
        background-color: transparent;
        color: #ffffff;
    }
            
            
    .sextaToda {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
            
    .sexta {
        display: inline-block;
    }
    .setima {
        display: inline-block;
    }
            
    .sexta input {
        margin-top: 50px;
        width: 80px;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-color: yellow;
        background-color: transparent;
        color: #ffffff;
    }
            
            
            
    .setima input {
        margin-top: 50px;
        width: 200px;
        display: inline-block;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-color: yellow;
        background-color: transparent;
        color: #ffffff;
    }
            
            
    .formulario {
        background-color: #391e5d;
        color: white;
    }
            
    .formulario h1 {
        color: #F4C949;
        font-family: 'Raleway', sans-serif;
    }
            
            
            
            
    .olho {
        cursor: pointer;
        left: 160px;
        width: 25px;
    }
            
    .olhoDois {
        cursor: pointer;
        left: 160px;
        width: 25px;
    }
            
    #finalCadastro {
        display: flex;
        justify-content: center;
                
    }
              
    #finalCadastro button {
        display: flex;
        justify-content: center;
        background-color: #F4C949;
        width: 250px;
        height: 30px;
        color: #391E5D;
        border-radius: 50px;
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        align-items: center;
            
    }
    
    .site-footer {
        width: 990px;
    }
            
    .footer {
        display: flex;
        position: absolute;
        width: 990px;
        height: auto;
                
    }
            
   
            
    .footer ul {
        display: inline-block;
        list-style: none;
        text-decoration: none;
        align-items: flex-start;
            
    }
            
    .footer a {
        font-size: 10px;
        text-align: start;
        align-items: flex-start;
            
        
    }
            
            
    .input {
        display: flex;
        text-align
        font-size: 15px;
    }
            
    #info {
        display:block;
        padding: 5px;
        font-size: 15px;
    }
            
    #email, #button {
        display: inline-block;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }
            
    #termos {
        display: flex;
        align-items: baseline;
        justify-content: center;
        text-decoration: none;
        font-size: 10px;
    }
            
    #icones {
        display: flex;
        position: relative;
        justify-content: center;
    }
            
            
    .site-footer #button {
        font-size: 10px;
    }
            
    .site-footer #email {
        font-size: 10px;
    }
            
    .site-footer #info {
        font-size: 15px;
    }
            
            
    nav img {
        width: 4em;
    }
            
            
}