* {
    margin: 0;
    padding: 0;
}

:root {
    --nav-bg-color: #f3f3f3;
    --footer-bg-color: #343236;
    --body-bg-color: #391e5d;
    --dark-font-color: #0a0016;
    --light-font-color: #dfdfdf;
    --alt-light-color: #cdd5eb;
    --button-color: #71cedab2;
    font-family: 'Roboto', sans-serif;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    color: var(--dark-font-color);
    align-items: center;
    background-color: var(--body-bg-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.container {
    margin-top: 40px;
    width: 30px;
    height: 30px;
    display: flex;
    margin: 0 auto;
    border-radius: 10px 10px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #ffff
}

#square {
    display: flex;
    min-height: 300px;
    min-width: 300px;
    margin-bottom: 100px;
    justify-content: center;
    transform-style: preserve-3d;
    transition: all .3s ease-in;
 
}

.front, 
.right,
.left{
    width: 370px;
    height: 370px;
    padding: 20px;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    justify-content: center;
    background-color:var(--body-bg-color); /*Cor da Caixa*/
}


.front{
    transform: translateZ(50px);
}

.right{
    transform: rotateY(90deg) translateZ(50px);
}

.left{
    transform: rotateY(-90deg) translateZ(50px);
}

.actions button {
 border: 0;
 outline: none;
 font-size: 15px;
 min-height: 20px;
 border-radius: 4px;
 padding: 10px 20px;
 background-color: var(--button-color)
}

.container h1{

    color: #ffff;
    font-size: 30px;
    margin-bottom: 20px;
}

.container form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container form input,
.container form button {

margin-bottom: 15px;
}

.container form input {
    border: 0;
    font-size: 15px;
    min-height: 15px;
    padding: 10px 8px;
    border-radius: 4px;
    box-sizing: border-box;
}

.container form button {
    border: 0;
    padding: 10px;
    outline: none;
    min-height: 10px;
    font-size: 20px;
    border-radius: 4px;
    background-color: var(--button-color);
}

#frontSide {
    display: none;
}

.container .actions {
   display: flex;
}

 .container .actions button {
    margin-right: 10px;
    justify-content: center;
 }

 @media(min-width: 600px){
    .container{
        width: 500px;
        height: 500px;
        padding: 50px 100px;

    }
 };
