* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}





#titulo h1 {
    color: #F4C949;
    font-family: 'Raleway', sans-serif;
    
}

#titulo h2 {
    color: #F4C949;
    font-family: 'Lora', serif;
    
}


#texto h2{
    width: 300px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    border-radius: 12px;
    color: #F4C949;
    background-color: #391E5D;
    position: relative;
    
    

}






#titulo2 h1 {
    color: #F4C949;
    font-family: 'Raleway', sans-serif;
}

#titulo2 h2 {
    color: #F4C949;
    font-family: 'Lora', serif;
}

#texto2 h2{
    background-color: #391E5D;
    width: 305px;
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    border-radius: 12px;
    color: #F4C949;



}






#titulo3 h1 {
    color: #F4C949;
    font-family: 'Raleway', sans-serif;
}

#titulo3 h2 {
    color: #F4C949;
    font-family: 'Lora', serif;
}

#texto3 h2{
    background-color: #391E5D;
    width: 300px;
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    border-radius: 12px;
    color: #F4C949;
  

}

.box {
    display: flex;
    justify-content: space-around;
    margin: 50px;
    text-align: center;
    
}

#basicoButton {
    margin-top: 20px;
    width: 300px;
    height: 40px;
    color: #391E5D;
    border-radius: 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

#intermediarioButton {
    margin-top: 20px;
    width: 300px;
    height: 40px;
    color: #391E5D;
    border-radius: 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

#premiumButton {
    margin-top: 20px;
    width: 300px;
    height: 40px;
    color: #391E5D;
    border-radius: 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}


#texto {
    border-style: solid;
    border-color: #F4C949;
    border-radius: 25px;
    padding: 10px;
}

#texto2 {
    border-style: solid;
    border-color: #F4C949;
    border-radius: 25px;
    padding: 10px;
}

#texto3 {
    border-style: solid;
    border-color: #F4C949;
    border-radius: 25px;
    padding: 10px;
}

.caixaUm {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center ;
}

.caixaDois {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center ;
}


.caixaTres {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center ;
}

#tituloSobre h2 {
    font-size: 18px;
    padding: 25px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:start
}


#tituloSobre h1 {
    color: #F4C949;
    padding-left: 20px;
    font-family: 'Raleway', sans-serif;
}
    

.footer {
    display: flex;
    position: absolute;
    width:100%;
    align-items: center;
    font-size: 0.8em;
    gap: 0px;
}

.footer ul {
    display: block;
    columns: 1;
    width:50%;
}

@media screen and (max-width: 700px) {
        .box {
            display:block;
            width:fit-content;
            height:fit-content;
            align-items: center;
        }

        
        .caixaUm {
            width:fit-content;
            height:fit-content;
            align-items: center;
            }
        
        
        .caixaDois {
            width:fit-content;
            height:fit-content;
            align-items: center;
            }
        
        
        .caixaTres {
            width:fit-content;
            height:fit-content;
            align-items: center;
            } 
   

            .footer {
                display: flex;
                position: absolute;
                width:100%;
                align-items: center;
                font-size: 0.8em;
                gap: 0px;
            }
        
            .footer ul {
                display: block;
                columns: 1;
                width:50%;  
            }
}