/* resetando as configurações da página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* configurações padrão para os elementos */
:root {
    --nav-bg-color: #f3f3f3;
    --footer-bg-color: #343236;
    --body-bg-color: #391e5d;
    --dark-font-color: #0a0016;
    --light-font-color: #dfdfdf;
    --alt-light-color: #cdd5eb;
    --button-color: #71cedab2;
    font-family: 'Roboto', sans-serif;
}

/* CONFIGURAÇÕES HEADER(NAVBAR)*/

body {
    background-color: var(--body-bg-color);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--button-color);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 0 2rem;
    background-color: var(--nav-bg-color);
    color: var(----font-color);
    height: 4em;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    font-family: 'Roboto', sans-serif;
}

nav img {
    width: 5em;
    margin-left: 5px;
}

.navbar-toggler {
    color: var(--body-bg-color);
}

#navbar-items {
    background-color: #f3f3f3c7;
    color: var(--dark-font-color);
    font-weight: bold;
}

nav ul {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 3rem;
    align-items: center;
    font-size: 1.2rem;
}



#button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--button-color);
    padding: 6px;
    font-size: 1.2rem;
    border-radius: 15px;
    border: 1px solid var(--alt-light-color);
}

#button:hover {
    color: var(--nav-bg-color);
}

/*CONFIGURAÇÕES DA PAGINA PRINCIPAL(MAIN)*/
main {
    background-color: var(--body-bg-color);

}

section {
    padding-top: 5em;
    padding-bottom: 4em;
}

.colabs,
.colabs-2 {
    display: flex;
    justify-content: space-around;
    padding-top: 3em;
    padding-bottom: 3em;
    text-align: center;

}

.card:hover {
    box-shadow: 2px 0px 10px 2px #57535b;
    transition: 0.4s;
}

h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.card {
    height: 30em;
    width: 18rem;
    align-items: center;
}

.card-img-top {
    padding-top: 2px;
    height: 15em;
    width: auto;
    border-radius: 50%;
}

.card-title {
    padding: 0;
    background-color: #71cedab2;
    border-radius: 10px;
}

/*CONFIGURAÇÕES DO RODAPÉ(FOOTER)*/

.footer {
    display: flex;
    border-bottom: 0px;
    position: absolute;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 3em;
    padding: 0 2rem;
    background-color: #343236;
    height: 20vh;
    color: #dfdfdf;
    font-size: 1.5em;
}


.footer ul {
    display: inline-block;
    padding-top: 1em;
    columns: 2;
    list-style: none;
    gap: 5em;
    align-items: center;
    font-size: 1rem;
}

#termos {
    display: inline-block;
    columns: 1;
}

.input {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    gap: 1em;
    align-items: center;
    background-color: #57535b;
    padding: 0.9em;
    font-size: 1.5em;
    color: #dfdfdf;
}

#email {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #cdd5eb;
    padding: 6px;
    font-size: 1.2rem;
    border-radius: 15px;
    border: 1px solid #cdd5eb;
}

#icones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

#chamada {
    color: #F4C949;
    font-weight: 700;
}


/* MEDIA QUERY */

@media only screen and (max-width: 920px) {
    .card {
        margin-top: 50px;

    }

    .colabs,
    .colabs-2 {
        flex-direction: column;
        align-items: center;
        padding: 0;

    }
}